@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&family=Roboto&display=swap');

@charset 'UTF-8';

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

  

    margin:auto 0;

    display: block;
    width:70px;
    height: 0px;
    padding: 0;
    

    cursor: pointer;

 
    border: none;
    outline: none;
  
}









*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
header{
    height: 100vh;
    background:#181829;
    padding:20px 0;
   
}
#menyu1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin:20px;
}
#menyu{
 
  padding:7px;
  
    width: 100%;
    background:#222232;
  
    
}
ul{
   list-style: none;
  

    display: flex;
    justify-content:space-evenly;
    

 
  

 
}
ul>li{
    margin-right:15px;
}
ul>li>a{
  
    color:#44444e;
   
    text-align: center;
 
}
ul>li>a>i{
    font-size:25px;
}


.icon{
    width: 200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.5em;
    color:#e3e3e5;
   
}
.logo{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color:#e3e3e5;
    margin:20px;
}

.photo{
    display: flex;
    justify-content: space-between;
    height:33vh;
    margin:10px 40px;
    background-image: linear-gradient(#183db6 ,#152fa0 ,#1634a6  );
    border-radius: 1em;
}
.tekst{
    width:600px;
    height: 33vh;
}


button{
    
    margin:40px 40px 10px 60px ;
    width:130px;
   display: flex;
   font-family: 'Roboto', sans-serif;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
    padding: 3px;
    border-radius: 1.2em;
    border:none;
}
button>img{
    
    width:30px;
    height: 30px;
}

.tekst p {
    margin:10px 40px;
    font-size: 3em;
    color:#e3e3e5;
    line-height: 1.2em;

}
.image{
   margin: 0 50px;
}
.image img {
    width:300px;
    -height: 300px;
 
    
}
.row{
    display: flex;
    justify-content: center;
    flex-direction:row;
    
    
}
.card{

    max-width: 600px ;
    height: 300px;
    background-color:#222232;
    margin:10px;
    border-radius: 20px;
    text-align: center;
    color:#e3e3e5;
   
}
.fa-solid{
    cursor: pointer;
}
.card:hover{
    background:linear-gradient(#f2967a, #f2957a,#ef8165, #f08569 , #ef8165 , #ee7356 );
    margin:20px;
}
.img {
    display: block;
  
    width:100px;
    height:100px;
    margin: 50px auto;
}
.card-header p{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.search{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    padding: 20px;
    margin:20px 0

   
}
#SearchForm{
    width:1000px;
    height: 4vh;
    margin:0 20px;
    background:#222232;
    color:#505059;
   
    border-radius: .6em;
  
   
   
}

#searchB{
    width: 100px;
    height: 4vh;
    margin: 20px;
    color:#e3e3e5;
      font-size: 1em;
      font-family: Roboto sans-serif;
    background:linear-gradient(#f2967a, #f2957a, #f08569, #ee7356 );
}
main{
    height:70vh;
    background:#181829;
   padding:20px;
    
}
 .liga {
    display: flex;
    justify-content: space-between;
    line-height: 0;
   
 }
 #liga-tekst>p:nth-child(2){
    text-align: center;
    font-size: 1em;
    color:#e3e3e5;
 }
 #liga-p{
    color:#e3e3e5;
    font-size: 2em;
    font-family: Roboto sans-serif;
    margin:10px ;
 }
 #liga-p>span{
    
    width: 25px;
    height: 25px;
    border-radius: 50%;

 }
 #liga-p>span img{
    
    width: 25px;
    height: 25px;
    border-radius: 50%;
 }

 .array{
    font-size: 2em;
    color:#e3e3e5;
    margin:10px 10px 10px 10px
 }
 
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}
 
 #table-tekst{
    font-size: 1.5em;
    font-family: Roboto sans-serif;
    color:#e3e3e5;
    line-height: 5px;
    
 }
 .p{
    font-size: 1em;
    font-family: Roboto sans-serif;
    color:#e3e3e5;
 }
 #table-tekst p:nth-child(2){
    color:#3d3d4b;
    font-size: .5em;
 }
 .football-padding{
    position: relative;
    display: inline-block;
    width: 60px;
    height:60px;
    padding: 10px;
    border-radius: 50%;
    background-color:#181829; ;
 }
 .football-padding img{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate( -50%, -50%);
    width: 57px;
    height:57px;
    padding: 10px;
    border-radius: 50%;
 }
 table {
    width: 1200px;
  
    height: 30vh;
    border: 1px solid #212133;
   border-radius: 1.5em 1.5em 0 0;
    border-collapse: collapse;
    margin:20px auto;
    background-color: #2b2b3d;
 }
 tr, td, th{
   
    border: 1px solid #212133;
    border-collapse: collapse;
    text-align: center;
 }
 .emsal{
    height: 10vh;
    font-size: 1.3em;
    font-family: Roboto sans-serif;
    color:#e3e3e5;

 }

 .info{
  opacity:0;
   
 
    
 }
 .info.active{
    opacity: 1;
    transition: all .3s;
    display: block;
   float: right;
    z-index: 10px;
    width:300px;
    height: 60vh;
    background-color: rgba(142, 161, 245, 0.231);
    color:#e3e3e5;
    text-align: center;
    font-family: Roboto sans-serif;
    font-size: 1em;
    margin:10px;
    border-radius: 1px solid #e3e3e5 ;
    border-radius: 10px;
 }

 @media only screen and (max-width: 1110px){
        header{
            height: 100vh;
        
        }
        .photo{
            height: 42vh;
            margin:20px;
        }
        
        .image img {
            width:250px;
            height: 250px;
         
            
        }
        .card{
            width: 440px !important;
           margin:40px 0;
        }
        main{
            padding:160px 0;
            height: 100vh;
        }
      
        table{
            width: 700px;
        }
 }
@media only screen and (max-width: 992px){
    .tekst{
        display: block;
        width: 500px;
        font-size: 1em;
    }
   
    .tekst p {
        font-size: 2em;
    }
    .card{
        max-width: 300px !important;
        height: 250px;
        margin:20px;
    }
    button{
        width: 100px;
        margin: 30px 0px 10px 35px ;
    }
    table {
        max-width: 600px;
    }
    .football-padding{
        width: 50px;
        height: 50px;
    }

    .football-padding img{
        width: 60px;
        height: 60px;
    }
   
   
}

@media only screen and (max-width: 768px) {
    header{
        height: 70vh;
        padding: 10px 0;
    }
   
    #menyu1{
        margin:10px;
    }
  
    .icon{
      
        width:80px;
        font-size: 1.2em;
        margin:5px;
    }
    .photo{
        height: 30vh;
    }
    .logo{
        font-size: 1.2em;
    }
    
    .tekst{
        width: 300px;
        font-size: 1em;
    }
    .tekst p {
        font-size: 1.3em;
    }
    .image{
        margin: 0;
    }
    .image img{
        width: 130px;
        height: 130px;
        margin: 50px  auto ;
    }
    button{
        width: 80px;
        margin: 30px 40px 10px 40px ;
    }

    button>img{
    
        width:10px;
        height: 10px;
        margin:0;
    }
    .card{
        max-width:120px !important;
        height: 250px;
        margin:20px;
    }
    .img{
        width: 70px;
        height: 70px;
    }
    .card-header p{
        font-size: 1em;
    }
   
    #SearchForm{
        
        width: 250px;
        height: 3.1vh;
        border-radius: .5em;
        
      
    }
    #searchB{
        width: 100px;
        height: 3.1vh;
        margin: 20px;
      
        border-radius: 10px;
    }
    main{
       max-height: 70vh;
    }
    #liga-p {
        font-size: 1.2em;
        text-align: center;
    }
    #liga-p>span{
        margin:10px  0 0 0 ;
    }
    
    .array{
        font-size: 1.2em;
    }
    table {
        max-width:350px;
    }
    .football-padding{
        width: 35px;
        height: 35px;
    }
    .football-padding img{
        width: 45px;
        height: 45px;
    }
    #table-tekst{
        font-size: 1em;
    }
    .p{
        font-size: .7em;
    }
    #liga-p>span{
        width: 20px;
        height: 20px;
    }
    #liga-p>span img {
        width: 20px;
        height: 20px;
    }
    .emsal{
        font-size: 1em;
    }
   
}
